<div class="featuresBig">

    {% for feature in site.featuresBig %}

    {% if feature.title %}
    <div class="featureBigContainer">
        <div class="featureBigText">
            <h3>
                {{ feature.title }}
            </h3>
            <p>
                {{ feature.description }}
            </p>
        </div>
        <div class="">
            {% if feature.image2 %}
            <img class="featureBigTwoImages" src="{{ feature.image }}"></img>
            <img class="featureBigTwoImages" src="{{ feature.image2 }}"></img>
            {% else %}
            <img class="featureBigImage" src="{{ feature.image }}"></img>
            {% endif %}
        </div>
       
    </div>
    {% endif %}

    {% endfor %}

</div>